<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contract List</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="../../static/bootstrap-5.3.0/css/bootstrap.min.css"
          th:href="@{/bootstrap-5.3.0/css/bootstrap.min.css}">

</head>
<body style="cursor: auto; background-color: #eff2f4">
<div class="w-100" style="min-height: 300px; background-color: #5e72e4; position: absolute;"></div>
<div class="container-fluid">
    <!--Header-->
    <div id="header" class="row">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <div class="d-flex justify-content-start">
                    <a class="navbar-brand" th:href="@{/}" style="color: white; font-weight: bold">
                        Furama Resort Manager
                    </a>
                </div>
                <div class="d-flex align-items-center">
                    <button type="button" class="btn btn btn-outline-light">
                        <span style="font-weight: bold">Login</span>
                    </button>
                </div>
            </div>
        </nav>
    </div>
    <!--End Header-->
    <div class="row">
        <div class="col-2">
            <!--Item Link-->
            <div id="item-link">
                <p style="text-align: center; color: #344767; font-weight: bold;">DashBoard</p>
                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action" aria-current="true">
                        The current button
                    </button>
                    <button type="button" class="list-group-item list-group-item-action">A second button item</button>
                    <button type="button" class="list-group-item list-group-item-action">A third button item</button>
                    <button type="button" class="list-group-item list-group-item-action">A fourth button item</button>
                    <button type="button" class="list-group-item list-group-item-action">A button item</button>
                </div>
            </div>
            <!--End Item Link-->
        </div>
        <div class="col-10">
            <!--Header Link-->
            <div class="row" style="width: 100%">
                <div id="header-link" class="col-12">
                    <nav class="navbar navbar-expand-lg" style="margin-left: 50px">
                        <div class="container-fluid">
                            <div class="d-flex justify-content-start">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{/}">Employee</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{/customer}">Customer</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{/contract}">Contract</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{/facility}">Facility</a>
                                    </li>
                                </ul>
                            </div>
                            <!--                            <div>-->
                            <!--                                <form action="" method="get" class="d-flex" role="search">-->
                            <!--                                    <select name="facilityTypeId" class="form-select" aria-label="Default select example">-->
                            <!--                                        <option value="">All Facility Type</option>-->
                            <!--                                        <option  th:each="type : ${facilityTypeList}" th:value="${type.id}" th:text="${type.name}"></option>-->
                            <!--                                    </select>-->
                            <!--                                    <input name="keyword" value="" class="form-control me-2" type="search" placeholder="Name" aria-label="Search" style="margin-left: 5px">-->
                            <!--                                    <button class="btn btn btn-outline-light" type="submit">Search</button>-->
                            <!--                                </form>-->
                            <!--                            </div>-->
                        </div>
                    </nav>
                </div>
            </div>
            <!--End Header Link-->
            <!--Content-->
            <div class="row" style="width: 100%">
                <div id="content" class="col-12" style="padding-top: 5px">
                    <h4 style="text-align: center">Contract List</h4>
                    <div style="margin-bottom: 10px">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#createContract">
                            Add New Contract
                        </button>
                        <span th:if="${mess}">
                            <span th:text="${mess}" style="color: green; font-weight: bold"></span>
                        </span>
                    </div>
                    <!--List-->
                    <div>
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Facility</th>
                                <th>Customer</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Deposit</th>
                                <th>Total</th>
                                <th colspan="2">Attach Facility</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="contract, rowStat : ${contractPage}">
                                <td th:text="${rowStat.count}"></td>
                                <td th:text="${contract.facilityName}"></td>
                                <td th:text="${contract.customerName}"></td>
                                <td th:text="${contract.startDate}"></td>
                                <td th:text="${contract.endDate}"></td>
                                <td th:text="${contract.deposit}"></td>
                                <td th:text="${contract.total}"></td>
                                <td>
                                    <button th:attr="onclick=|getContractId('${contract.contractId}')|"
                                            type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal">
                                        +
                                    </button>
                                </td>
                                <td>
                                    <a th:href="@{/contract/detail(id=${contract.contractId})}">
                                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                                data-bs-target="#exampleModal2">
                                            Attach Facility Detail
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--Pagination-->
                    <div style="float: right; margin-right: 15px">
                        <a th:href="@{/contract/(page=${contractPage.number - 1})}"
                           th:if="${contractPage.hasPrevious()}">
                            <button class="btn btn-primary">Previous</button>
                        </a>
                        <span th:text="${contractPage.number + 1}"></span> / <span
                            th:text="${contractPage.totalPages}"></span>
                        <a th:href="@{/contract/(page=${contractPage.number + 1})}" th:if="${contractPage.hasNext()}">
                            <button class="btn btn-primary">Next</button>
                        </a>
                    </div>
                </div>
            </div>
            <!--End Content-->
        </div>
    </div>
    <!--Footer-->
    <div id="footer" class="row">
        <div class="d-flex justify-content-center align-items-center">@FuramaResort2023</div>
    </div>
    <!--End Footer-->
</div>
<!-- Modal Create Attach Facility-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Attach Facility</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/contract/create}" method="post" th:object="${contractDetail}">
                <div class="modal-body">
                    <input th:field="*{contract.id}" id="contractId" type="text" hidden>
                    <div class="row mb-2">
                        <span class="col-3">Attach Facility:</span>
                        <div class="col-9">
                            <select th:field="*{attachFacility.id}" class="form-select"
                                    aria-label="Default select example">
                                <option th:each="attFacility : ${attachFacilityList}" th:value="${attFacility.id}"
                                        th:text="${attFacility.name}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <span class="col-3">Quantity:</span>
                        <div class="col-9"><input th:field="*{quantity}" type="number" class="form-control"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal View Detail Attach Facility-->
<div th:class="${hasTrue=='true'? 'modal fade show':'modal fade'}"
     th:style="${hasTrue =='true' ?'display:block':'display:none'}"
     class="modal fade" id="exampleModal2" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel2">Attach Detail</h1>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-hover">
                    <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Unit</th>
                        <th>Cost</th>
                        <th>Status</th>
                    </tr>
                    <tr th:each="row : ${contractDetailList}">
                        <td th:text="${row.attachFacility.name}"></td>
                        <td th:text="${row.quantity}"></td>
                        <td th:text="${row.attachFacility.unit}"></td>
                        <td th:text="${row.attachFacility.cost}"></td>
                        <td th:text="${row.attachFacility.status}"></td>
                    </tr>
                </table>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        <a th:href="@{/contract}" style="color: white; text-decoration: none">Close</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Create Contract-->
<div class="modal fade" id="createContract" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel3">Create Contract</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/contract/add}" method="post" th:object="${contract}">
                <input type="text" hidden th:field="*{id}">
                <div class="modal-body">
                    <div class="row mb-2">
                        <span class="col-3">Start Date:</span>
                        <div class="col-9"><input th:field="*{startDate}" type="date" class="form-control"></div>
                    </div>
                    <div class="row mb-2">
                        <span class="col-3">End Date:</span>
                        <div class="col-9"><input th:field="*{endDate}" type="date" class="form-control"></div>
                    </div>
                    <div class="row mb-2">
                        <span class="col-3">Deposit:</span>
                        <div class="col-9"><input th:field="*{deposit}" type="text" class="form-control"></div>
                    </div>
                    <div class="row mb-2">
                        <span class="col-3">Total Cost:</span>
                        <div class="col-9"><input readonly class="form-control"></div>
                    </div>
                    <div class="row mb-2">
                        <span class="col-3">Customer:</span>
                        <div class="col-9">
                            <select th:field="*{customer.id}" class="form-select" aria-label="Default select example">
                                <option th:each="row : ${customerList}" th:value="${row.id}" th:text="${row.name}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <span class="col-3">Facility:</span>
                        <div class="col-9">
                            <select th:field="*{facility.id}" class="form-select" aria-label="Default select example">
                                <option th:each="row : ${facilityList}" th:value="${row.id}" th:text="${row.name}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <span class="col-3">Attach Facility:</span>
                        <div class="col-9">
                            <button type="button" onclick="displayAttFacility()" class="btn btn-primary">+</button>
                        </div>
                    </div>
                    <div style="display: none" id="attFacility">
                        <th:block th:each="row : ${attachFacilityList}">
                            <div class="row">
                                <div class="col-3"></div>
                                <div class="col-5">
                                    <input th:value="${row.id}" th:text="${row.name}" type="checkbox" class="form-check-input">
                                </div>
                                <div class="col-2">
                                    <span>Quantity:</span>
                                </div>
                                <div class="col-2">
                                    <input type="number" class="form-control">
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function getContractId(contractId) {
        document.getElementById("contractId").value = contractId;
    }

    function displayAttFacility() {
        if (document.getElementById("attFacility").style.display == "block") {
            document.getElementById("attFacility").style.display = "none"
        } else {
            document.getElementById("attFacility").style.display = "block"
        }
    }

</script>

</body>
<script src="../../static/bootstrap-5.3.0/js/bootstrap.min.js"
        th:src="@{/bootstrap-5.3.0/js/bootstrap.min.js}"></script>
</html>