<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<div style="width: 60%; margin: 0 auto; height: 700px">
    <h1 style="text-align: center">Form Dang Ky</h1>
    <form th:action="@{/create}" method="post" th:object="${userDto}">
        <label for="formGroupExampleInput" class="form-label">Your Name</label>
        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" style="color: red">Firstname, lastname bắt buộc, có độ dài tối thiểu 5, tối đa 45 ký tự</span>
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color: red">Firstname, lastname bắt buộc, có độ dài tối thiểu 5, tối đa 45 ký tự</span>
        <div class="input-group">
            <span class="input-group-text">First and last name</span>
            <input th:field="*{firstName}" type="text" aria-label="First name" class="form-control">
            <input th:field="*{lastName}" type="text" aria-label="Last name" class="form-control">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Phone Number</label>
            <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" style="color: red"></span>
            <input th:field="*{phoneNumber}" type="text" class="form-control" id="formGroupExampleInput"
                   placeholder="Example input placeholder">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Age</label>
            <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" style="color: red">Tuổi ko được nhỏ hơn 18</span>
            <input th:field="*{age}" type="number" class="form-control" id="formGroupExampleInput1"
                   placeholder="Example input placeholder">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red">Email sai định dạng</span>
            <input th:field="*{email}" type="text" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</html>