<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Furama Resort</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="../static/bootstrap-5.3.0/css/bootstrap.min.css" th:href="@{/bootstrap-5.3.0/css/bootstrap.min.css}">

</head>
<body style="cursor: auto; background-color: #eff2f4">
<div class="w-100" style="min-height: 300px; background-color: #5e72e4; position: absolute;"></div>
<div class="container-fluid">
    <!--Header-->
    <div id="header" class="row">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <div class="d-flex justify-content-start">
                    <a class="navbar-brand" th:href="@{/}" style="color: white; font-weight: bold">
                        Furama Resort Manager
                    </a>
                </div>
                <div class="d-flex align-items-center">
                    <button type="button" class="btn btn btn-outline-light">
                        <span style="font-weight: bold">Login</span>
                    </button>
                </div>
            </div>
        </nav>
    </div>
    <!--End Header-->
    <div class="row">
        <div class="col-2">
            <!--Item Link-->
            <div id="item-link">
                <p style="text-align: center; color: #344767; font-weight: bold;">DashBoard</p>
                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action" aria-current="true">
                        The current button
                    </button>
                    <button type="button" class="list-group-item list-group-item-action">A second button item</button>
                    <button type="button" class="list-group-item list-group-item-action">A third button item</button>
                    <button type="button" class="list-group-item list-group-item-action">A fourth button item</button>
                    <button type="button" class="list-group-item list-group-item-action">A button item</button>
                </div>
            </div>
            <!--End Item Link-->
        </div>
        <div class="col-10">
            <!--Header Link-->
            <div class="row" style="width: 100%">
                <div id="header-link" class="col-12">
                    <nav class="navbar navbar-expand-lg" style="margin-left: 50px">
                        <div class="container-fluid">
                            <div class="d-flex justify-content-start">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Employee</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{/customer}">Customer</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Contract</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Facility</a>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <form class="d-flex" role="search">
                                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                    <button class="btn btn btn-outline-light" type="submit">Search</button>
                                </form>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <!--End Header Link-->
            <!--Content-->
            <div class="row" style="width: 100%">
                <div id="content" class="col-12">
                    <div class="d-flex justify-content-center" style="margin-top: 250px">
                        <h3>Welcome to Furama Resort Management</h3>
                    </div>
                </div>
            </div>
            <!--End Content-->
        </div>
    </div>
    <!--Footer-->
    <div id="footer" class="row">
        <div class="d-flex justify-content-center align-items-center">@FuramaResort2023</div>
    </div>
    <!--End Footer-->
</div>
</body>
<script src="../static/bootstrap-5.3.0/js/bootstrap.min.js" th:src="@{/bootstrap-5.3.0/js/bootstrap.min.js}"></script>
</html>